@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: scroll;
  scroll-behavior: smooth;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

body {
  background-color: #FAF9F6;
  color: black;
  text-rendering: auto;
  font-weight: lighter;
}

#overlay {
  position:fixed;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
  display: none;
  background-color:#000;
  opacity:0.5;
}

.border-test {
  border: 2px solid black;
}

/* Custom Menu button with transiton */
.menu_btn {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1000;
}

.menu_btn .line {
  width: 23px;
  height: 2px;
  background-color: #292524;
  transform-origin: left;
  transition: transform 0.25s ease, opacity 0.2s ease;
}

.menu_btn:hover .line{
  background-color: black;
}

.menu_btn .middle_line {
  /* Close Delay */
  transition-delay: 0.3s;
}

.menu_btn.open-btn .middle_line {
  opacity: 0;
  /* Open Delay */
  transition-delay: 0s;
}

.menu_btn.open-btn .top_line {
  transform: rotate(45deg);
}

.menu_btn.open-btn .bottom_line {
  transform: rotate(-45deg);
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  width: 0;
  background-color: #f5f5f4;
  transition: width 0.5s ease-in-out, opacity 0.5s ease; /* Add transition property */
}

.menu-container.open-menu {
  width: 100vw;
  opacity: 1;
  overscroll-behavior: hidden;
}

.cart-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 0vh;
  opacity: 0;
  background-color: #f5f5f4;
  transition: height 0.15s ease-in-out, opacity 0.05s ease; /* Add transition property */
  overflow: scroll;
}

.cart-container.open-cart {
  height: 100vh;
  opacity: 1;
  overscroll-behavior: scroll;
}

@keyframes transitionScreen {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.transition-screen {
  opacity: 0;
  animation: transitionScreen 0.5s;
}

.transition-screen.active {
  opacity: 1;
}

.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 1001;
}

.loading-screen {
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: translateY(0);
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-out, transform 0.3s ease-in-out;
}

.loader {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 2px solid #fff;
  width: 28px;
  height: 28px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.collapse-item {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease;
}

.collapse-item.open {
  max-height: 1000px;
  opacity: 1;
}

.button-hover:hover .shop-item-button {
  background-color: white;
  color: black;
  transition: color 0.15s ease, background-color 0.3s ease;
}

@media screen and (min-width: 1024px) {
  .menu-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    opacity: 0;
    background-color: #f5f5f4;
    transition: width 0.15s ease-in-out, opacity 0.15s ease; /* Add transition property */
  }

  .menu-container.open-menu {
    width: 20vw;
    opacity: 1;
    overscroll-behavior: hidden;
  }

  .cart-container {
    position: absolute;
    top: 15px;
    right: 0;
    width: 35vw;
    height: 0vh;
    opacity: 0;
    background-color: #f5f5f4;
    transition: height 0.15s ease-in-out, opacity 0.15s ease; /* Add transition property */
    overflow: scroll;
  }

  .cart-container.open-cart {
    height: 80vh;
    opacity: 1;
    overscroll-behavior: scroll;
  }
}
